body {
    background-color: #161616;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    background: 
    linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.7)),
    url("https://i.pinimg.com/736x/3f/6e/94/3f6e949b186e48aa18287cb080afd4c0.jpg") no-repeat center center fixed;
  background-size: cover;
}

footer{
    background-color: #0000009e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials{
    display: flex;
    gap: 20px;
}

.price {
    color: #ff007d;
    font-size: 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0051b9;
    border-radius: 30px;
    gap: 30px;
}

.email span{
    color: #FF5A54;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.email{
    border: none;
    display: flex;
    gap: 20px;

}

.email img{
    width: 70px;
    height: 70px;
    border: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

h1, h2, p{
    text-shadow: 5px 5px 1px #0000006d;
}

h1 {
    font-size: 100px;
    margin: 10px;
}

h2 {
    font-size: 50px;
    margin: 10px;
}

.games{
    margin: 50px 50px 50px 50px;
}

.game a {
    border-radius:22px;
    transition:0.3s ease;
    color: #ffffff;
    font-size: 25px;
    display: flex;
    text-decoration: none;
    display: flex;
    gap: 50px;
    margin: 20px;
    background-color: #0000004c;
}

.game .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.game .infos p {
    text-align: center;
    font-size: 40px;
    margin: 5px;
}

img {
    border: 2px solid #900046;
    border-radius: 20px;
    transition: border 0.3s ease;
}

.game img{
    width: 320px;
    height: 180px;
}

.link_logo img{
    width: 80px;
    height: 80px;
}

.game a:hover {
    border: 2px solid #00ff21;
img{
    border: 4px solid #00ff21;
}

}

footer p{
    font-size: 40px;
}

.link_logo a img:hover{
    border: 2px solid #00ff21;
}
