body {
  margin: 0;
  background-color: #0e0e0e;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

header, footer {
  border-radius: 20px;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer {
  flex-direction: column;
  gap: 20px;
}

.socials {
  display: flex;
  gap: 20px;
}

.price {
  color: #ff007d;
  font-size: 42px;
  font-weight: bold;
}

header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 20px #ff007d55;
}

h1, h2, p {
  text-shadow: 2px 2px 4px #000000;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 48px;
}

.titles{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.titles h1, h2{
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.games {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.game a {
  display: flex;
  gap: 20px;
  padding: 15px;
  border-radius: 22px;
  background: #111;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 10px 25px #000000aa;
}

.game a:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px #00ff2180;
}

.game img {
  width: 320px;
  height: 180px;
  border-radius: 20px;
  border: 2px solid #900046;
  transition: 0.3s;
}

.game a:hover img {
  border: 3px solid #00ff21;
}

.game .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.game .infos p {
  font-size: 36px;
  margin: 0;
  text-align: left;
}

.email {
  display: flex;
  align-items: center;
  gap: 15px;
}

.email img {
  width: 60px;
  height: 60px;
}

.email span {
  color: #FF5A54;
  font-size: 28px;
}

.link_logo img {
  width: 80px;
  height: 80px;
  transition: 0.3s;
}

.link_logo img:hover {
  transform: scale(1.1);
  border: 2px solid #00ff21;
}

footer p {
  font-size: 36px;
}
